#greeting_window {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

#questionBlock, #examCard, #timerBlock{
  width: 51rem;
  height: 32rem;
  background: #434343;
  display: inline-block;
}
#questionBlock, #timerBlock{
  margin: 10px 13px 1px 8px;
}

#answer {
  font-family: 'Gilroy',sans-serif;
  font-size: 17px;
  color: white;
}

#timerBlock {
  width: 27rem;
  height: 12rem;
}

.header_img {
  margin-top: 0.60rem;
}

#card {
  width: 25rem;
  height: 25rem;
  background: #434343;
}